@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*body { font-family: "Nanum Gothic", serif; }*/
html, body { height:100%; background-color: #f9f9f9; }

div.content.container { min-height: 100%; }

.container { min-width: 980px !important; }

button:focus { outline:0; }

a:hover, a:hover * { text-decoration: none; color: black;}
a:link, a:link * { text-decoration: none; color: black;}     /* unvisited link */
a:visited, a:visited * { text-decoration: none; color: black;}   /* visited link */
a:active, a:active *, { text-decoration: none; color: black;}    /* selected link */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

hr {
    border-color: #cccccc;
}

input {
    outline: none;
}

.content.container { background-color: #f9f9f9; }

.navbar-default { background-color: #ffffff; border-bottom: solid 2px #B6B6B6; }

a.navbar-brand strong { font-size: 20px; color: #06C; }


.yu-item {
    color: inherit;
    background-color: #ececec;
    width: 23%;
    height: 320px;
    margin: 1% 1% 0 1%;
    float: left;
}

.yu-item .yu-thumb-img {
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.yu-item .yu-thumb-content {
    padding: 3%;
}

.yu-item .yu-thumb-price {
    font-size: 12px;
    font-weight: 700;
}

.yu-won {
    font-size: 10px;
    margin-left: 2px;
}

.yu-fixed-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 998;
}

.yu-circle-btn {
    display: inline-block;
}

.yu-circle-btn i {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #0066CC;
    color: #fff;
    padding-top: 10px;
    padding-left: 14px;
}

.item-wrapper {
    position: relative;
}

.item-title {
    position: relative;
}

.item-title h3 {
    max-width: 900px;
}

.item-title span {
    position: absolute;
    top:25px;
    right:20px;
}

.item-info-card {
    position: absolute;
    right: 20px;
    width: 220px;
    padding: 20px;
    border: solid 2px #a6a6a6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.item-body {
    width: 900px;
}

button img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

div.login-content-wrapper, div.register-content-wrapper {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

form.login-form{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

form.login-form label {
    width: 20%;
    text-align: center;
}

form.login-form div.login-form-group {
    margin-bottom: 10px;
}

form.login-form div.login-form-group input,
form.login-form div.login-form-group input:active {
    width: 78%;
    height: 40px;
    border-radius: 10px;
}

input.login-btn, a.register-btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

div.yf-alert-box {
    height: 100px;
}

form.register-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form.register-form label {
    width: 25%;
    text-align: center;
}

form.register-form div.register-form-group {
    margin-bottom: 10px;
}

form.register-form div.register-form-group input,
form.register-form div.register-form-group input:active {
    width: 74%;
    height: 40px;
    border-radius: 10px;
}

input.register-btn{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.radio-btn {
    display: inline-block;
    width: 100px;
}

.radio-btn label {
    font-size: 12px;
    color: #000000;
}

.item-form-container {
    border: 1px solid #cccccc;
    padding: 50px 100px 100px 100px;
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}


form .yf-input input[type="text"], form .yf-input textarea {
    width: 500px;
    padding: 5px;
}

form .yf-input label{
    width: 150px;
    padding-left: 20px;
}

form .yf-error-msg {
    height: 20px;
    padding-left: 170px;
}

form .yf-error-msg li {
    list-style: none;
    font-size: 12px;
    color: #b30000;
}

form .yf-error-msg ul {
    padding: 0;
}

form .yf-input label {
    font-weight: normal;
    color: #5a5a5a;

}

form .yf-input.desc *{
    vertical-align: top;
}

.yf-input-btns {
    margin: auto;
    width: 40%;
    height: 50px;
}

.yf-input-btns input, .yf-input-btns a {
    display: inline-block;
    background-color: #06C;
    float: left;
    width: 40%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

.yf-input-btns a {
    float: right !important;
    text-align: center;
    line-height: 50px;
}

.yf-input.img-upload-area {
    vertical-align: top;
}

.hidden-img-upload input{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}


#item-img-container {
    display: inline-block;
    width: 800px;
}

#item-img-container .item-img-wrapper{
    position: relative;
    float: left;
    width: 165px;
    height: 165px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 1px #a6a6a6;
    text-align: center;
    cursor: pointer;
}

#item-img-container .item-img-wrapper i {
    position: absolute;
    top:40%;
    left:40%;
}


#item-img-container .item-img-wrapper img {   /* 추가될 이미지를 감싸는 요소 */
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}


.item-detail-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.item-detail-container > div{
    /*border: 1px solid #e6e6e6;*/
}

.top-info-area h5 {
    margin: 0;
    display: inline-block;
}

.item-detail-container .middle-info-area {
    position: relative;
    /*background-color: #fff;*/
    height: 400px;
    margin-bottom: 10px;
}

.item-detail-container .bottom-info-area {
    height: 100px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.middle-info-area .item-img-area {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
    float: left;
    width: 59%;
    height: 100%;
}

.item-img-area .item-img-preview {
    height: 350px;
    width: 350px;
    background-color: #cccccc;
}

.item-img-area .item-imgs {

}

.middle-info-area .item-info-area {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
    float: left;
    width: 39%;
    height: 100%;
}

.vertical-line {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 20px;
    left: 60%;
    width: 1px;
    border: solid 1px #e6e6e6;
    height: 97%;
}



.kor-timesince {
    float: right;
    letter-spacing: 0;
}