{% extends 'shop/base.html' %}
{% load humanize %}

{% block content %}
<h3>프로필 페이지</h3>

<div class="item-list">
    {% for item in items_of_user %}
        <a class="item-card" href="{% url 'shop:item_detail' item.pk %}">
{#            <div class="yu-thumb-img" style="background-image: url('{{ item.photos_of_item.all.0.image.url }}')"></div>#}
            <img src="{{ item.photos_of_item.all.0.image.url }}" alt=""/>
            <div class="item-card-content">
                <span class="name"> {{ item.name }} </span> <br/>
                <span class="price">{{ item.price | intcomma }}<span class="yu-won">원</span></span>
            </div>
        </a>
    {% empty %}
        <li>게시한 사진이 없습니다.</li>
    {% endfor %}
</div>
{% endblock %}