{% extends "shop/base.html" %}

{% block content %}

<div class="login-content-wrapper">
    {% if form.errors %}
    <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    {% if next %}
        <div class="yf-alert-box">
            {% if user.is_authenticated %}
            <p>권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>
            {% else %}
            <p>로그인이 필요한 서비스입니다 ! </p>
            {% endif %}
        </div>
    {% endif %}
    <form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="login-form-group">
            <label class="test-label" for="yf-input-username">이메일</label>
            <input type="text" id="yf-input-username" name="username" placeholder="example@domain.com"/>
        </div>
        <div class="login-form-group">
            <label class="test-label" for="yf-input-password">비밀번호</label>
            <input type="password" id="yf-input-password" name="password" placeholder="패스워드를 입력하세요."/>
        </div>

        <input class="login-btn btn btn-primary" type="submit" value="로그인" />
        <a class="register-btn btn btn-default" href="{% url 'register' %}">3초만에 이메일로 회원가입</a>
    </form>
</div>

{#<form>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputEmail1">Email address</label>#}
{#    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputPassword1">Password</label>#}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputFile">File input</label>#}
{#    <input type="file" id="exampleInputFile">#}
{#    <p class="help-block">Example block-level help text here.</p>#}
{#  </div>#}
{#  <div class="checkbox">#}
{#    <label>#}
{#      <input type="checkbox"> Check me out#}
{#    </label>#}
{#  </div>#}
{#  <button type="submit" class="btn btn-default">Submit</button>#}
{#</form>#}



{#<div class="form-group">#}
{#    <label for="yf-input-condition" class="col-sm-2 control-label">물품상태</label>#}
{#    <div class="col-sm-10">#}
{#        <select id="yf-input-condition" name="condition" class="form-control">#}
{#            <option value="" selected="selected">---------</option>#}
{#            <option value="S">매우좋음</option>#}
{#            <option value="A">좋음</option>#}
{#            <option value="B">보통</option>#}
{#            <option value="C">안좋음</option>#}
{#        </select>#}
{#    </div>#}
{#</div>#}

{% endblock %}