{% extends "shop/base.html" %}
{% load humanize %}

{% block content %}

{% if item_list %}
    <div class="yu-item-list">
        {% for item in item_list %}
            <a class="yu-item" href="{% url 'shop:item_detail' item.pk %}">
                <div class="yu-thumb-img" style="background-image: url('{{ item.item_photo_set.all.0 }}')">
                </div>
                <div class="yu-thumb-content">
                    <span class="yu-thumb-name"> {{ item.name }} </span> <br/>
                    <span class="yu-thumb-price">{{ item.price | intcomma }}<span class="yu-won">원</span></span>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>아이템이 없습니다.</p>
{% endif %}

<div class="yu-fixed-btn">
    <a class="yu-circle-btn" href="{% url 'shop:item_new' %}">
        <i class="fa fa-plus fa-3x"></i>
    </a>
</div>

{% endblock %}