{% extends "shop/base.html" %}

{% block content %}

<div class="item-form-container">

    <h3>물품등록</h3>

    <hr/>

    <form method="post" action="{% url 'shop:item_new' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div>{{ item_form.category }}</div>
        <div>{{ item_form.vendor }}</div>

        {{ item_photo_formset.management_form }}
        <div class="yf-input img-upload-area">
{#            <label>이미지</label>#}
            <div id="item-img-container">
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
                <div class="item-img-wrapper"><i class="fa fa-picture-o fa-2x"></i></div>
            </div>
            {% for photo_form in item_photo_formset %}
                <div class="hidden-img-upload">
                    {{ photo_form.image }}
                </div>
            {% endfor %}
        </div>

        <div class="yf-input">
            <label for="{{ item_form.name.id_for_label }}">상품이름</label>
            {{ item_form.name }}
            <div class="yf-error-msg">
                {{ item_form.name.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.price.id_for_label }}">가격</label>
            {{ item_form.price }}
            <div class="yf-error-msg">
                {{ item_form.price.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.purchased_at.id_for_label }}">구매시기</label>
            {{ item_form.purchased_at }}
            <div class="yf-error-msg">
                {{ item_form.purchased_at.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.deal_way.id_for_label }}">거래방법</label>
            {% for radio in item_form.deal_way %}
                <div class="yf-radio">
                    {{ radio }}
                </div>
            {% endfor %}
            <div class="yf-error-msg">
                {{ item_form.deal_way.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.condition.id_for_label }}">옷 상태</label>
            {% for radio in item_form.condition %}
                <div class="yf-radio">
                    {{ radio }}
                </div>
            {% endfor %}
            <div class="yf-error-msg">
                {{ item_form.condition.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.deal_place.id_for_label }}">거래장소</label>
            {{ item_form.deal_place }}
            <div class="yf-error-msg">
                {{ item_form.deal_place.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.shipping_price.id_for_label }}">배송비</label>
            {{ item_form.shipping_price }}
            <div class="yf-error-msg">
                {{ item_form.shipping_price.errors }}
            </div>
        </div>

        <div class="yf-input">
            <label for="{{ item_form.include_shipping.id_for_label }}">배송비포함</label>
            {{ item_form.include_shipping }}
            <div class="yf-error-msg">
                {{ item_form.include_shipping.errors }}
            </div>
        </div>

        <div class="yf-input desc">
            <label for="{{ item_form.desc.id_for_label }}">설명</label>
            {{ item_form.desc }}
            <div class="yf-error-msg">
                {{ item_form.desc.errors }}
            </div>
        </div>

        <hr/>

        <div class="yf-input-btns">
            <input class="" type="submit" value="등록하기"/>
{#            <button class="">취소</button>#}
            <a href="{{request.META.HTTP_REFERER}}">취소</a>
        </div>

    </form>
</div>

<script type="text/javascript">

    $(document).ready(function(){

        var UPLOADED_IMG = 0;
        var itemImgContainer = $('#item-img-container');
        var itemImgWrapper = itemImgContainer.find('.item-img-wrapper');

        $('.img-upload-area .hidden-img-upload input').each(function() {
            $(this).on('change', function() {

                if(window.FileReader){
                    //image 파일만
                    if (! $(this)[0].files[0].type.match(/image\//) ) return;

                    var reader = new FileReader();
                    reader.onload = function(e){
                        console.log("reader.onload 이벤트가 발생했습니다.");

                        ++UPLOADED_IMG;

                        var src = e.target.result;
                        var curItemImgWrapper = itemImgContainer.find('div.item-img-wrapper:nth-child(' + UPLOADED_IMG + ')');

                        console.log("curitemImgWrapper", curItemImgWrapper);

                        curItemImgWrapper.find('i').remove();
                        curItemImgWrapper.append('<img src="'+src+'" class="upload-thumb">');
                    };
                    reader.readAsDataURL($(this)[0].files[0]);
                }

{#                else { // old IE#}
{#                    $(this)[0].select();#}
{#                    $(this)[0].blur();#}
{#                    var imgSrc = document.selection.createRange().text;#}
{#                    parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');#}
{##}
{#                    var img = $(this).siblings('.upload-display').find('img');#}
{#                    img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";#}
{#                }#}
            });
        });

        itemImgWrapper.each(function () {
            $(this).click(function(){
               $('#id_photos_of_item-'+UPLOADED_IMG+'-image').click();
            });
        });

        $("#yf-input-deal_way").change(function() {
            var deal_way = $("#yf-input-deal_way option:selected").val();

            if(deal_way == "ship") {
                $(".shipping-checkbox").show();
                $(".deal-place").hide();
            } else {
                $(".shipping-checkbox").hide();
                $(".deal-place").show();
            }
        });
    });
</script>

{% endblock %}