{% extends "shop/base.html" %}
{% load humanize %}
{% load shop_tags %}

{% block content %}
{% if item %}
    <div class="item-detail-container">
        <div class="middle-info-area">
            <div class="item-img-area">
                <div class="item-img-preview">
                    <img src="" alt=""/>
                </div>
                <div class="item-imgs">
                {% for photo in item.photos_of_item.all %}
                    <div class="img-box">
                        <img src="{{ photo.image.url }}"/>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="item-info-area">
                <div class="top">
                    <span class="label label-primary">{{ item.get_condition_display }}</span>
                    <span class="label label-info">{{ item.get_deal_way_display }}</span>
                    {% if item.vendor.id == user.id %}
                        <a style="color:red" href="{% url 'shop:item_edit' item.id %}">수정하기</a>
                    {% endif %}
                    <h5>{{ item.name }}</h5>
                    {% if item.include_shipping %}
                        <span class="include-shipping">배송료포함</span>
                    {% endif %}
                    <span class="price"><strong>{{ item.price | intcomma }}원</strong></span>
                    <span class="kor-timesince">{{ item.created_at | get_due_date_string}}</span>
                </div>
                <hr/>
                <div class="middle">
                    {% if item.deal_way == 'direct' %}
                        <span class="info-label">거래장소</span>
                        <p class="info-content">{{ item.deal_place }}</p>
                    {% endif %}
                </div>
                <hr/>
                <div class="bottom">
                    <span class="info-label">판매자정보</span>
                    <p class="info-content">{{ item.vendor.get_nickname }}</p>
                </div>
            </div>
        </div>
        <div class="bottom-info-area">
            <div class="item-desc-area">
                <div class="info-label">제품설명</div>
                {{ item.desc }}
            </div>
            <hr/>
            <div class="item-comment-area">
                <form action="{% url 'shop:comment' %}" method="post" id="comment-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="item" name="item" value="{{ item.id }}"/>
                    <input type="hidden" id="user" name="user" value="{{ user.id }}"/>
                    <textarea name="body" id="comment" rows="10"></textarea>
                    <input type="submit" value="댓글등록"/>
                </form>
            </div>
            <div id="comment-list">
                {% include 'shop/comment.html' %}
            </div>
        </div>
    </div>
{% else %}
    <p>존재하지 않는 아이템입니다.</p>
{% endif %}

<script type="text/javascript">
    (function() {
        $(document).ready(function() {
            var selectedItemImg = $('.item-img-preview img');
            var imgSrc = $('.item-imgs > .img-box img').attr('src');
            var csrftoken = getCookie('csrftoken');

            selectedItemImg.attr('src', imgSrc);

            $('.item-imgs .img-box').click(function() {
                var imgSrc = $(this).find('img').attr('src');
                selectedItemImg.attr('src', imgSrc);
            });

            $('#comment-form').on('submit', function(event) {
                event.preventDefault();
                console.log("form submitted");
                comment_new();
            });

            addListener();

            function delete_comment(fromBtn) {
                $.ajax({
                    url:'/shop/comment',
                    type:'POST',
                    data:{
                        comment:$(fromBtn).find('.comment_id').val(),
                        csrfmiddlewaretoken:csrftoken
                    },
                    success:function(response) {
                        console.log("Delete Success!");
                        $("#comment_"+$(fromBtn).find('.comment_id').val()).remove();
                        console.log(response);
                    },
                    error:function(response, err) {
                        console.log("Delete Error");
                        console.log(response);
                    }

                })
            }


            function comment_new(){
                console.log("new comment!");
                $.ajax({
                    url:'/shop/comment',
                    type:'post',
                    data:{
                        item:$('#item').val(),
                        user:$('#user').val(),
                        body:$('#comment').val(),
                        csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success:function(response) {
                        $('#comment').val('');
                        $('#comment-list').prepend(response.comment)
                        console.log("Success!");
                        console.log(response);
                        addListener();
                    },
                    error:function(response, err) {
                        console.log("Error");
                        console.log(response);
                    }
                })
            }

            function addListener() {
                $('.del-comment-btn').on('click', function(event) {
                    delete_comment(this);
                });
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    })();
</script>

{% endblock %}